/* Enter your custom styles here */

div.polaroid {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}
.center {
    margin-top : 50px;
    margin-left : 15%;
}
.barClass {
    background-color: transparent;
    border: 0px;
    border-style: none;
    box-shadow: none;
}
div.container {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 20px;
}
.mainPage {
    background-image: url(heartbeat-monitor.jpg);
}
.info {
    background-color: white;
    padding: .25em;
    vertical-align: top;
    text-align: left;
    text-size: .8em;
    width: 27.4%;
    display: table-cell
}
.direction {
    text-align: center;
    font-weight: 700;
    color: #366;
    vertical-align: middle;
    padding: 0;
    width: 7%;
    display: table-cell
}