/* Enter your custom styles here */

/*.mainPage {*/

/*    background: rgb(214, 249, 255);*/

/*    background: -moz-linear-gradient(top, rgba(214, 249, 255, 1) 0%, rgba(158, 232, 250, 1) 100%);*/

/*    background: -webkit-linear-gradient(top, rgba(214, 249, 255, 1) 0%, rgba(158, 232, 250, 1) 100%);*/

/*    background: linear-gradient(to bottom, rgba(214, 249, 255, 1) 0%, rgba(158, 232, 250, 1) 100%);*/

/*}*/

.mainPage {
    background-image: url(heartbeat-monitor.jpg);
}
.info {
    background-color: white;
    padding: .25em;
    vertical-align: top;
    text-align: left;
    text-size: .8em;
    width: 27.4%;
    display: table-cell
}
.direction {
    text-align: center;
    font-weight: 700;
    color: #366;
    vertical-align: middle;
    padding: 0;
    width: 7%;
    display: table-cell
}
